:root {
  /*  Natives colors */

  /* App Colors */
  /* --primary-color: #000;
  --primary-text-color: #fff;
  --secondary-color: #eee;
  --secondary-text-color: #555; */

  --primary-color: #e7e7e7;
  --primary-text-color: #222;
  --secondary-color: #007bff;
  --secondary-text-color: #555;

  --bg-color: var(--primary-color);
  /* --primary-color: #fff;
  --primary-text-color: #666;
  --secondary-color: #999;
  --secondary-text-color: #000;

  

  /* Dimensions */
  --max-content-width: 900px;
  --header-height: 90px;
  /* Fonts */
  --SansSerif: sans-serif;
  --transition-delay: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: var(--SansSerif);
  font-size: 1.2rem;
}

#_app {
  position: relative;
  max-width: var(--window-max-width);
  margin: auto;
}

#_app header.header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: var(--header-height);
  overflow: hidden;
  padding-left: 0;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem;
}

header.header .brand {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
  color: var(--primary-color);
  padding: 0.3rem 1.3rem;
  border-radius: 4px;
  margin-left: 1rem;
}

header.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

header.header .menu .nav-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 0 1rem;
}

header.header .menu .nav-menu li,
header.header .menu .control-options li {
  padding: 0 0.5rem;
  cursor: pointer;
  transition: transform var(--transition-delay);
}

header.header .menu .nav-menu li {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 8px;
  transition: background var(--transition-delay);
  user-select: none;
}

header.header .menu .nav-menu li.active {
  font-weight: bold;
  background-color: #184677;
}

header.header .menu .nav-menu li:hover {
  background-color: #103155;
}

header.header .menu .nav-menu li:active {
  background-color: #184677;
}

header.header .menu .controls-options li:hover {
  transform: scale(0.96);
}

header.header .menu .control-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

main {
  max-width: var(--max-content-width);
  margin: auto;
}

main .bilan {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  padding-top: 2rem;
  color: var(--primary-text-color);
}

main .bilan ._card {
  background-color: #fff;
  width: 48%;
  max-width: 400px;
  min-width: 250px;
  min-height: 150px;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: grid;

  grid-template-areas:
    "title count"
    "expense count"
    "amount count";
}

main .bilan ._card-title {
  grid-area: title;
}

main .bilan ._card-amount {
  grid-area: amount;
}

main .bilan ._card-expense {
  grid-area: expense;
}

main .bilan ._card-count {
  grid-area: count;
  font-size: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: bold;
  background-color: #fff;
}

main .bilan ._card-title {
  font-size: 2rem;
}

main .bilan ._card-amount span:first-child {
  font-size: 3rem;
  color: var(--secondary-color);
  display: inline-block;
  margin-top: 1rem;
}

main .bilan ._card-amount span:last-child {
  font-size: 1rem;
  color: #9c9c9c;

  position: relative;
  top: -1.2rem;
}

main .tables-box {
  background-color: #fff;
  color: var(--primary-text-color);
  margin: 0 2rem;
}

main .tables-box table h2,
main .tables-box table thead {
  background-color: #184677;
  color: #fff;
}
